
.courses, .main-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 80%;
    margin-left: 10%;

}
.courses .course {
    width: 30%;

}

.courses .course img{
    width: 100%;
}

footer{
    width: 80%;
    margin-left: 10%;
}

.main-block {
    justify-content: flex-start;
    align-items: flex-start;

}

.one-course{
margin-right: 100px;}