{% extends 'courses/main-layout.html'%}


{% block title %}
    Профиль
{% endblock %}

{% block main_section %}
{% if not user.is_authenticated %}
    <h3 class="m-3">Вам надо зарегестрироваться</h3>
{% else %}

<div class="header-body m-2">
<div class="row align-items-end profile d-block">
    <div class="col-auto">

                <!-- Avatar -->
        <div class="avatar avatar-xxl header-avatar-top">
            <img src="{{user.profile.img.url}}" width="64" height="64" alt="..." class="avatar-img rounded-circle border border-4 border-body">
        </div>

    </div>
        <div class="col ">

                <!-- Pretitle -->
          <h6 class="header-pretitle">
              Member
          </h6>

                <!-- Title -->
          <h5 class="header-title">
              login: {{ user.username }}
          </h5>
          {% if user.email %}
          <h5 class="header-title">
              email: {{ user.email }}
          </h5>
          {% endif %}

        </div>
        <div class="col-12 col-md-auto mt-2 mt-md-0 mb-md-3">
          <div class="form-update justify-content-center text-align-center">
           <h3 class="update-h text-warning mt-3 ml-2">Обновить информацию</h3>
          <form class="refresh" enctype="multipart/form-data" method="post">
            {% csrf_token %}
            {{ updateUserForm.as_p }}
            {{ profileForm.as_p }}
            <button type="submit" class="btn btn-outline-warning" name="button">Обновить</button>
          </form>
        </div>

        </div>
  </div>
  </div>

  {% endif %}
  {% endblock %}
