{% extends 'courses/main-layout.html'%}
{% block main_section %}
  <div class="main-block">
      <div class="one-course m-3">
        <h3>{{ object.title }}</h3>
          <p>{{ object.description}}</p>

        {% if course.img %}
        <img src="{{ course.img.url }}" alt="{{ course.title }}">
        {% else %}
        <img src="/pictures/default.png" alt="{{ course.title }}">
        {% endif %}
      </div>
      <div class="aside-course">
          <h3>{{ title }}</h3>
          <p>{{ desc }}</p>

          {% if object.free == True %}

          <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ video }}" 
                  title="YouTube video player" frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
          </iframe>
          {% elif user.is_authenticated == False %}
            <p><a href="#" class="err">Зарегестрируйтесь</a> на сайте и купите подписку, чтобы посмотреть этот курс</p>
          {% elif user.profile.account_type == "Бесплатный пакет" %}
            <p>Необходимо купить <a href="{% url 'tariffs' %}" class="err">подписку на сайте</a>, чтобы посмотреть этот курс</p>
          {% else %}
          <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ video }}"
                  title="YouTube video player" frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
          </iframe>
          {% endif %}
      </div>
  </div>
{% endblock %}
